# Ignore everything by default
*

# Allow directories and then include only .kt and README.md files within them
!*/
!**/*.kt
!**/README.md

# Ignore IntelliJ-specific files and directories
.idea/
*.iml
out/
build/